# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Environment variables (КРИТИЧНО: не коммитить!)
.env
.env.*
!.env.example

# Playwright
test-results/
playwright-report/
blob-report/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# Logs
*.log